<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <style>
        /* 기본 글자색은 회색 */
        .btn-custom {
            color: gray;
        }

        /* 글자 굵게 만들기 */
        .font-bold {
            font-weight: bold;
            color: black;
        }
    </style>
</head>
<body>
<main class="container mt-5">
    <section>
        <form id="frm" method="post">
            <input type="hidden" id="method" name="_method">
            <!--      글번호, 제목, 조회수 -->
            <div class="row mt-3">
                <input type="text" class="form-control" id="idx" name="idx" placeholder="글번호" readonly th:value="${board.idx}">
                <label for="idx"></label>
                <input type="text" class="form-control" id="cate" name="cate" placeholder="카테고리" th:value="${board.cate}" readonly>
                <label for="cate"></label>
                <input type="text" class="form-control" id="nickname" name="nickName" placeholder="닉네임" readonly th:value="${board.nickname}">
                <label for="nickname"></label>
                <input type="text" class="form-control" id="place" name="place" placeholder="위치" readonly th:value="${board.place}">
                <label for="place"></label>
            </div>
            <div class="col-sm d-flex justify-content-end">
                <button type="button" class="btn btn-danger me-2" id="btn-delete">삭제</button>
                <button type="button" class="btn btn-warning" id="btn-update">수정</button>
            </div>
            <!--      작성자, 작성일, 수정자, 수정일 -->

            <!--      글 내용-->
            <div class="row mt-3">
                <div class="col-sm">
                    <div class="form-floating">
                        <textarea class="form-control" id="contents" name="contents" rows="10" placeholder="글 내용" style="height: 250px;" th:text="${board.contents}"></textarea>
                        <label for="contents">글 내용</label>
                    </div>
                </div>
            </div>
            <!--      목록, 삭제, 수정 버튼 -->
            <div class="row mt-3">
                <div class="col-sm">
                    <button type="button" class="btn btn-secondary" id="btn-list">목록</button>
                </div>
            </div>
        </form>
    </section>

    <div class="row">
        <div class="col-sm-3">
            <img class="me-2" src="/img/good.png" width="22px" height="22px" alt="" id="likes" name="likes" readonly th:value="${board.likes}">
            <label for="likes"></label>
        </div>
        <!--            댓글-->
        <div class="col-sm ">
            <img src="/img/commu.png" width="22px" height="22px" alt=""  id=""  name="likes"
                 readonly th:value="${board.likes}">
            <label for=""></label>
        </div>
    </div>




<!--    댓글 -->
<!--    <section th:replace="~{/layout/comment :: comment(${comments})}"> replace로 할경우    </section>-->
<hr>
    <section>
        <div>
<!--            <h3>댓글</h3>-->
            <div>
                <button id="sortOldestFirst" class="btn btn-light text-muted">등록순</button>
                <button id="sortNewestFirst" class="btn btn-light text-muted">최신순</button>
            </div>
<!--        댓글 목록-->
            <div id="commentsList">
                <div th:each="comment : ${comments}">
                    <div class="comment">
                        <p type="hidden" id="commentIdx" name="commentIdx" th:value="${comment.commentIdx}"></p>
                        <p><strong th:text="${comment.commentName}"></strong></p>
                        <p class="text-muted">
                            <span th:text="${comment.location}"></span>
                            <span th:text="${comment.createDate}"></span>
                        </p>
                        <p><strong th:text="${comment.commentContent}"></strong></p>
                        <p>
                            <button class="btn btn-link" >
                                추천
                            </button>
                        </p>

                    </div>
                </div>
            </div>

<!--        댓글 작성-->
<!--            board_idx, nickname, comment_content, create_date, location-->
            <div class="mt-3">
                <form action="/board/add" method="post" enctype="multipart/form-data"></form>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="boardIdx" class="form-label">게시물번호 </label>
                        <input type="text" class="form-control" id="boardIdx" name="boardIdx" placeholder="없어질칸">
                    </div>
                    <div class="col-sm-2">
                        <label for="commentName" class="form-label">닉네임 </label>
                        <input type="text" class="form-control" id="commentName" name="commentName" placeholder="없어질칸">
                    </div>
                    <div class="col-sm-2">
                        <label for="location" class="form-label">장소 </label>
                        <input type="text" class="form-control" id="location" name="location" placeholder="없어질칸">
                    </div>
                </div>
                <div>
                    <textarea class="form-control" name="commentContent" id="commentContent" rows="3" placeholder="댓글을 입력하세요."></textarea>
                </div>
                <button id="submitComment" class="btn btn-primary mt-2">댓글 작성</button>
            </div>
        </div>
        <script>
            // 버튼 클릭 시 스타일 변경
            document.getElementById("sortOldestFirst").addEventListener("click", function() {
                // 등록순 버튼 클릭 시 스타일 변경
                this.classList.add("font-bold"); // 등록순 버튼은 굵게
                this.classList.remove("btn-custom"); // 회색 글자 제거

                // 최신순 버튼은 기본 상태로 되돌리기
                document.getElementById("sortNewestFirst").classList.remove("font-bold");
                document.getElementById("sortNewestFirst").classList.add("btn-custom");
            });

            document.getElementById("sortNewestFirst").addEventListener("click", function() {
                // 최신순 버튼 클릭 시 스타일 변경
                this.classList.add("font-bold"); // 최신순 버튼은 굵게
                this.classList.remove("btn-custom"); // 회색 글자 제거

                // 등록순 버튼은 기본 상태로 되돌리기
                document.getElementById("sortOldestFirst").classList.remove("font-bold");
                document.getElementById("sortOldestFirst").classList.add("btn-custom");
            });

        </script>
    </section>

</main>
<br><br><br><br><br><br><br>


</body>
</html>