.header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
}

.header .header-user-box a {
    font-size: 16px;
}

.header .hover-effect:hover {
    color: #0d6efd !important;
}